BasedOnStyle: Google
ColumnLimit: 110
IndentWidth: 4
AccessModifierOffset: -4
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
IncludeBlocks: Preserve
SortIncludes: true
PackConstructorInitializers: Never
SeparateDefinitionBlocks: Always
AlignTrailingComments: true
AlignConsecutiveBitFields: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: LeftWithLastLine
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortCompoundRequirementOnASingleLine: true
BreakBeforeTernaryOperators: true
BreakBeforeConceptDeclarations: Always
BreakConstructorInitializersBeforeComma: true
BreakBeforeBraces: Linux
BreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: true
SpacesInAngles: Leave
Standard: c++20
